/* Importando as fontes de uma API free. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Formatação genérica de todo conteúdo da página - Fontes */
*{
    font-family: sans-serif;
    font-style: normal;
    font-size: 20px;
}

/* Formatando todo o corpo da página - Cor de fundo */
body{
    background: rgb(0,3,36);
    background: linear-gradient(80deg, rgba(0,3,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    overflow: hidden;
}

/* A primeira classe do HTML o contorno do elemento e as métricas da calculadora*/
.borda{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    width: 470px;
    background-color:gray;
}

/* Formatando a região do título da calculadora.*/
header{
    border: 5px;
    border-style: solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: black;
    border-color: black;
}

/* Formatando o nome da região de título.*/
.nome{
    text-align:center;
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: solid;
    font-weight: bold;
}

/* Propriedades de posicionamento e dimensionamento da região do visor da calculadora.*/
textarea{
    /*Atributos de forma, geometria e posicionamento*/
    width:95%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    justify-content: center;

    /*Atributos de texto*/
    text-align:right;
    font-weight: 600;
    font-size: 25px;

    /*Atributos de cor*/
    background-color: rgb(231, 231, 101);
    border-color: black;
    color:gray;

    /*Parâmetro do elemento*/
    resize: none;
}

/* Os elementos de contexto do teclado devem ser exibidos lado a lado com espaçamento de 2px*/
.teclado {
    width:95%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px; 
}

/* As seções de contexto possuem 10% do tamanho total*/
section{
    flex: 1 0 10%;
}

/* A primeira seção de contexto possui o dobro do tamanho das demais */
.coluna-1{
    flex: 2 0 50%; 
}

/* Formatando os coluna 1 em estrutura tabular de 4 linhas por 3 colunas - UX / UI definiu*/
.contexto-coluna-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    gap: 2px;
}

/* Formatando os coluna 2 em estrutura tabular de 4 linhas por 1 coluna - UX / UI definiu*/
.contexto-coluna-2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    gap: 2px;
}

/* Formatando coluna 3 em estrutura tabular de 4 linhas por 1 coluna - UX / UI definiu*/
.contexto-coluna-3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    gap: 2px;
}


/* Propriedades dos botões adicionais - PO negociou*/
.a{ 
    width: 100%;
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

/* Propriedades dos botões numéricos - UX/UI definiu*/
.n{
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* Propriedades dos botões operativos - UX/UI definiu*/
.o{
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* Propriedades dos botões CC e CA - UX/UI definiu*/
.c{
    background-color: green;
    color: white;
    border-radius: 5px;
}

/* Propriedades do botão zero - UX/UI definiu*/
.z{
    grid-column: span 3;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

/* Propriedades do botão de igualdade - UX/UI definiu*/
.eq{
    grid-row: span 2; 
    background-color: red;
    color: white;
    border-radius: 5px;
}

/* Adicionando recurso visual tactil dos botões em geral*/
button:active {
    color: white;
    background-color: darkslategrey;
}

/* Formatando o rodpé. Inserindo meus dados de contato.*/
footer{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nota{
    text-align: center;
    justify-content: center;
    line-height: 0.5;
    margin:0;
    padding: 0;
}

footer h1{
    color: whitesmoke;
    text-decoration: solid;
}

footer p{
    font-size: 12px;
    color: whitesmoke;
    text-decoration: solid;
}

/* Adicionando alguma responsividade */
@media (max-width: 980px) {
    
    *{
        font-size: 18px;
    }

    .borda {
        width: 240px;
    }
    
    header{
        border: 1px;
        border-style: solid;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: black;
        border-color: black;
    }

    textarea {
        padding: 1px;
        font-size: 18px;
    }

    .teclado {
        margin: 3px;
        gap: 1px;
    }

    footer{
        height: 60px;
        justify-content: center;
    }

    footer h1{
        font-weight: normal;
    }

}

